In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('flightss.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499999 entries, 0 to 499998
Data columns (total 31 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   YEAR                 499999 non-null  int64
 1   MONTH                499999 non-null  int64
 2   DAY                  499999 non-null  int64
 3   DAY_OF_WEEK          499999 non-null  int64
 4   AIRLINE              499999 non-null  object
 5   FLIGHT_NUMBER        499999 non-null  int64
 6   TAIL_NUMBER          496249 non-null  object
 7   ORIGIN_AIRPORT       499999 non-null  object
 8   DESTINATION_AIRPORT  499999 non-null  object
 9   SCHEDULED_DEPARTURE  499999 non-null  int64
 10  DEPARTURE_TIME       483583 non-null  float64
 11  DEPARTURE_DELAY      483583 non-null  float64
 12  TAXI_OUT             483295 non-null  float64
 13  WHEELS_OFF           483295 non-null  float64
 14  SCHEDULED_TIME       499998 non-null  float64
 15  ELAPSED_TIME         482051 non-null  float64
 16  AIR_TIME             482051 non-null  float64
 17  DISTANCE             499999 non-null  int64
 18  WHEELS_ON            482840 non-null  float64
 19  TAXI_IN              482840 non-null  float64
 20  SCHEDULED_ARRIVAL    499999 non-null  int64
 21  ARRIVAL_TIME         482840 non-null  float64
 22  ARRIVAL_DELAY        482051 non-null  float64
 23  DIVERTED             499999 non-null  int64
 24  CANCELLED            499999 non-null  int64
 25  CANCELLATION_REASON  16824 non-null   object
 26  AIR_SYSTEM_DELAY     102299 non-null  float64
 27  SECURITY_DELAY       102299 non-null  float64
 28  AIRLINE_DELAY        102299 non-null  float64
 29  LATE_AIRCRAFT_DELAY  102299 non-null  float64
 30  WEATHER_DELAY        102299 non-null  float64
dtypes: float64(16), int64(10), object(5)
memory usage: 118.3+ MB

In [4]:
df.describe()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,499999.0,499999.000000,499999.000000,499999.000000,499999.000000,499999.000000,483583.000000,483583.000000,483295.000000,483295.000000,...,499999.000000,482840.000000,482051.000000,499999.000000,499999.000000,102299.000000,102299.000000,102299.000000,102299.000000,102299.000000
mean,2015.0,1.060062,14.995448,4.006010,2263.471527,1323.041714,1332.958619,10.122676,16.487882,1356.719161,...,1506.507117,1493.392088,6.229602,0.002248,0.033648,13.476202,0.067635,17.999814,22.902130,3.321225
std,0.0,0.237602,9.320105,2.012339,1803.531063,468.226070,479.872733,37.720260,9.671999,479.845899,...,483.437265,503.046868,40.494675,0.047360,0.180322,25.461451,2.027208,45.863346,41.711079,21.899448
min,2015.0,1.000000,1.000000,1.000000,1.000000,5.000000,1.000000,-48.000000,1.000000,1.000000,...,1.000000,1.000000,-82.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2015.0,1.000000,7.000000,2.000000,759.000000,925.000000,930.000000,-5.000000,11.000000,946.000000,...,1124.000000,1117.000000,-13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2015.0,1.000000,15.000000,4.000000,1732.000000,1320.000000,1328.000000,-1.000000,14.000000,1342.000000,...,1525.000000,1522.000000,-4.000000,0.000000,0.000000,4.000000,0.000000,2.000000,4.000000,0.000000
75%,2015.0,1.000000,23.000000,6.000000,3484.000000,1720.000000,1729.000000,9.000000,19.000000,1742.000000,...,1914.000000,1915.000000,10.000000,0.000000,0.000000,18.000000,0.000000,18.000000,29.000000,0.000000
max,2015.0,2.000000,31.000000,7.000000,9793.000000,2359.000000,2400.000000,1988.000000,177.000000,2400.000000,...,2359.000000,2400.000000,1971.000000,1.000000,1.000000,830.000000,241.000000,1971.000000,948.000000,1116.000000

In [5]:
df.shape

(499999, 31)

In [6]:
df.head(100)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2015,1,1,4,B6,2001,N358JB,BUF,JFK,535,...,648.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
96,2015,1,1,4,B6,2807,N190JB,PWM,JFK,535,...,635.0,-25.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
97,2015,1,1,4,B6,2023,N324JB,JFK,SJU,535,...,1039.0,19.0,0,0,NaN,0.0,0.0,19.0,0.0,0.0
98,2015,1,1,4,EV,4557,N12967,CRP,IAH,535,...,615.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
99,2015,1,1,4,EV,5241,N849AS,PIA,DTW,535,...,745.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.isnull().sum()

YEAR                        0
MONTH                       0
DAY                         0
DAY_OF_WEEK                 0
AIRLINE                     0
FLIGHT_NUMBER               0
TAIL_NUMBER              3750
ORIGIN_AIRPORT              0
DESTINATION_AIRPORT         0
SCHEDULED_DEPARTURE         0
DEPARTURE_TIME          16416
DEPARTURE_DELAY         16416
TAXI_OUT                16704
WHEELS_OFF              16704
SCHEDULED_TIME              1
ELAPSED_TIME            17948
AIR_TIME                17948
DISTANCE                    0
WHEELS_ON               17159
TAXI_IN                 17159
SCHEDULED_ARRIVAL           0
ARRIVAL_TIME            17159
ARRIVAL_DELAY           17948
DIVERTED                    0
CANCELLED                   0
CANCELLATION_REASON    483175
AIR_SYSTEM_DELAY       397700
SECURITY_DELAY         397700
AIRLINE_DELAY          397700
LATE_AIRCRAFT_DELAY    397700
WEATHER_DELAY          397700
dtype: int64

In [8]:
df = df.drop(['YEAR','AIRLINE','FLIGHT_NUMBER','TAIL_NUMBER','TAXI_OUT','DEPARTURE_TIME','WHEELS_OFF','SCHEDULED_TIME','ELAPSED_TIME','AIR_TIME','WHEELS_ON','TAXI_IN','SCHEDULED_ARRIVAL','ARRIVAL_TIME','CANCELLATION_REASON'],axis = 1)

In [9]:
df.head(10)

,MONTH,DAY,DAY_OF_WEEK,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY,DISTANCE,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,1,1,4,ANC,SEA,5,-11.0,1448,-22.0,0,0,NaN,NaN,NaN,NaN,NaN
1,1,1,4,LAX,PBI,10,-8.0,2330,-9.0,0,0,NaN,NaN,NaN,NaN,NaN
2,1,1,4,SFO,CLT,20,-2.0,2296,5.0,0,0,NaN,NaN,NaN,NaN,NaN
3,1,1,4,LAX,MIA,20,-5.0,2342,-9.0,0,0,NaN,NaN,NaN,NaN,NaN
4,1,1,4,SEA,ANC,25,-1.0,1448,-21.0,0,0,NaN,NaN,NaN,NaN,NaN
5,1,1,4,SFO,MSP,25,-5.0,1589,8.0,0,0,NaN,NaN,NaN,NaN,NaN
6,1,1,4,LAS,MSP,25,-6.0,1299,-17.0,0,0,NaN,NaN,NaN,NaN,NaN
7,1,1,4,LAX,CLT,30,14.0,2125,-10.0,0,0,NaN,NaN,NaN,NaN,NaN
8,1,1,4,SFO,DFW,30,-11.0,1464,-13.0,0,0,NaN,NaN,NaN,NaN,NaN
9,1,1,4,LAS,ATL,30,3.0,1747,-15.0,0,0,NaN,NaN,NaN,NaN,NaN

In [10]:
df.isnull().sum()

MONTH                       0
DAY                         0
DAY_OF_WEEK                 0
ORIGIN_AIRPORT              0
DESTINATION_AIRPORT         0
SCHEDULED_DEPARTURE         0
DEPARTURE_DELAY         16416
DISTANCE                    0
ARRIVAL_DELAY           17948
DIVERTED                    0
CANCELLED                   0
AIR_SYSTEM_DELAY       397700
SECURITY_DELAY         397700
AIRLINE_DELAY          397700
LATE_AIRCRAFT_DELAY    397700
WEATHER_DELAY          397700
dtype: int64

DEPARTURE_DELAY
ARRIVAL_DELAY  
AIR_SYSTEM_DELAY 
SECURITY_DELAY
AIRLINE_DELAY
LATE_AIRCRAFT_DELAY
WEATHER_DELAY

MEAN FOR ALL

In [11]:
df['DEPARTURE_DELAY']=df['DEPARTURE_DELAY'].fillna(df['DEPARTURE_DELAY'].mean())

In [12]:
df['AIR_SYSTEM_DELAY']=df['AIR_SYSTEM_DELAY'].fillna(df['AIR_SYSTEM_DELAY'].mean())

In [13]:
df['SECURITY_DELAY']=df['SECURITY_DELAY'].fillna(df['SECURITY_DELAY'].mean())

In [14]:
df['AIRLINE_DELAY'] = df['AIRLINE_DELAY'].fillna(df['AIRLINE_DELAY'].mean())
df['LATE_AIRCRAFT_DELAY'] = df['LATE_AIRCRAFT_DELAY'].fillna(df['LATE_AIRCRAFT_DELAY'].mean())
df['WEATHER_DELAY'] = df['WEATHER_DELAY'].fillna(df['WEATHER_DELAY'].mean())
df['ARRIVAL_DELAY']=df['ARRIVAL_DELAY'].fillna(df['ARRIVAL_DELAY'].mean())

In [15]:
df.isnull().sum()

MONTH                  0
DAY                    0
DAY_OF_WEEK            0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_DELAY        0
DISTANCE               0
ARRIVAL_DELAY          0
DIVERTED               0
CANCELLED              0
AIR_SYSTEM_DELAY       0
SECURITY_DELAY         0
AIRLINE_DELAY          0
LATE_AIRCRAFT_DELAY    0
WEATHER_DELAY          0
dtype: int64

In [16]:
df['DEPARTURE_DELAY']=df['DEPARTURE_DELAY'].astype(int)
df['AIR_SYSTEM_DELAY']=df['AIR_SYSTEM_DELAY'].astype(int)
df['SECURITY_DELAY']=df['SECURITY_DELAY'].astype(int)
df['AIRLINE_DELAY']=df['AIRLINE_DELAY'].astype(int)
df['LATE_AIRCRAFT_DELAY']=df['LATE_AIRCRAFT_DELAY'].astype(int)
df['WEATHER_DELAY']=df['WEATHER_DELAY'].astype(int)
df['ARRIVAL_DELAY']=df['ARRIVAL_DELAY'].astype(int)

In [17]:
df.head()

,MONTH,DAY,DAY_OF_WEEK,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY,DISTANCE,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,1,1,4,ANC,SEA,5,-11,1448,-22,0,0,13,0,17,22,3
1,1,1,4,LAX,PBI,10,-8,2330,-9,0,0,13,0,17,22,3
2,1,1,4,SFO,CLT,20,-2,2296,5,0,0,13,0,17,22,3
3,1,1,4,LAX,MIA,20,-5,2342,-9,0,0,13,0,17,22,3
4,1,1,4,SEA,ANC,25,-1,1448,-21,0,0,13,0,17,22,3

In [18]:
df['route']= df['ORIGIN_AIRPORT'].astype(str) + df['DESTINATION_AIRPORT'].astype(str)

In [19]:
df['route']

0         ANCSEA
1         LAXPBI
2         SFOCLT
3         LAXMIA
4         SEAANC
           ...
499994    BUFMDW
499995    DALMCO
499996    MDWDEN
499997    MDWPIT
499998    MDWTPA
Name: route, Length: 499999, dtype: object

In [20]:
df.head()

,MONTH,DAY,DAY_OF_WEEK,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY,DISTANCE,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,route
0,1,1,4,ANC,SEA,5,-11,1448,-22,0,0,13,0,17,22,3,ANCSEA
1,1,1,4,LAX,PBI,10,-8,2330,-9,0,0,13,0,17,22,3,LAXPBI
2,1,1,4,SFO,CLT,20,-2,2296,5,0,0,13,0,17,22,3,SFOCLT
3,1,1,4,LAX,MIA,20,-5,2342,-9,0,0,13,0,17,22,3,LAXMIA
4,1,1,4,SEA,ANC,25,-1,1448,-21,0,0,13,0,17,22,3,SEAANC

In [21]:
from sklearn import preprocessing
lab = preprocessing.LabelEncoder()

In [22]:
df['route']= lab.fit_transform(df['route'])
df['route'].unique()

array([  78, 2220, 3710, ..., 1600, 3272, 1307])

In [23]:
df.head()

,MONTH,DAY,DAY_OF_WEEK,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY,DISTANCE,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,route
0,1,1,4,ANC,SEA,5,-11,1448,-22,0,0,13,0,17,22,3,78
1,1,1,4,LAX,PBI,10,-8,2330,-9,0,0,13,0,17,22,3,2220
2,1,1,4,SFO,CLT,20,-2,2296,5,0,0,13,0,17,22,3,3710
3,1,1,4,LAX,MIA,20,-5,2342,-9,0,0,13,0,17,22,3,2210
4,1,1,4,SEA,ANC,25,-1,1448,-21,0,0,13,0,17,22,3,3636

In [24]:
x = df.iloc[:,[0,1,2,5,6,7,9,10,11,12,13,14,15,16]].values
y = df.iloc[:,8].values

In [36]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3, random_state = 42)

In [37]:
df.dtypes

MONTH                   int64
DAY                     int64
DAY_OF_WEEK             int64
ORIGIN_AIRPORT         object
DESTINATION_AIRPORT    object
SCHEDULED_DEPARTURE     int64
DEPARTURE_DELAY         int32
DISTANCE                int64
ARRIVAL_DELAY           int32
DIVERTED                int64
CANCELLED               int64
AIR_SYSTEM_DELAY        int32
SECURITY_DELAY          int32
AIRLINE_DELAY           int32
LATE_AIRCRAFT_DELAY     int32
WEATHER_DELAY           int32
route                   int32
dtype: object

In [38]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)

In [39]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(x_test)
print("Accuracy:",accuracy_score(y_test, y_pred))

Accuracy: 0.20436